@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');

body
{
    margin: 0;
    padding: 0;
    background-color: #14181d;
    color: #fac240;
}

h1
{
    text-align: center;
    margin-top: 50px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-size: 5rem;
}

h2
{
    text-align: center;
    margin: 0 0 2%;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.form-area
{
    margin: 0 5rem;
    padding: 3% 0 4%;
    border-radius: 25px;
    background-color: #393E46;
}

form
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#txt
{
    width: 70%;
    background-color: #EEEEEE;
    border-radius: 6px;
}

.button
{
    font-family: "Montserrat", serif;
    font-weight: 600;
    border-radius: 6px;
}

.scan-area
{
    margin: 5rem;
    padding: 3% 0 4%;
    border-radius: 25px;
    background-color: #393E46;
}

.qr-area
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 25%;
    aspect-ratio: 1/1;
}

.qr
{
    width: 25vw;
    aspect-ratio: 1/1;
    padding: 2%;
    border: 5px solid black;
    border-radius: 25px;
}