@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Tiny5&family=Wallpoet&display=swap');

:root
{
    --primary-background : #14181d;
    --secondary-background: #393E46;
    --tertiary-background: #eeeeee;
    --text-gradient1: #fc4a1a;
    --text-gradient2: #fac240;
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--primary-background);
    color: var(--text-colour);
}

h1
{
    text-align: center;
    margin-top: 50px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    background-image: linear-gradient(var(--text-gradient1), var(--text-gradient2));
    color: transparent;
    background-clip: text;
}

h2
{
    text-align: center;
    margin: 0 0 3%;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    background-image: linear-gradient(var(--text-gradient1), var(--text-gradient2));
    color: transparent;
    background-clip: text;
}

.form-area
{
    margin: 0 5rem;
    padding: 3% 0 4%;
    border-radius: 25px;
    background-color: var(--secondary-background);
}

form
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#txt
{
    width: 70%;
    background-color: var(--tertiary-background);
    border-radius: 6px;
    height: 30px;
}

.button
{
    font-family: "Play", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 6px;
    height: 35px;
}

.scan-area
{
    margin: 5rem;
    padding: 3% 0 4%;
    border-radius: 25px;
    background-color: var(--secondary-background);
}

.qr-area
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 25%;
    aspect-ratio: 1/1;
}

.qr
{
    width: 25vw;
    aspect-ratio: 1/1;
    padding: 2%;
    border: 5px solid black;
    border-radius: 25px;
}